@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9ce800;
  --primary-medium: #84a14b;
  --primary-dark: #8dc63f;
  --primary-light: #ddfaa5;
  --primary-lighter: #d9edb2;

  --light: #aaaeb0;
  --lighter: #e6e7e2;
  --lightest: #f4f5f0;
  --white: #ffffff;
  --neutral: #8e9499;

  --dark: #353b40;
  --darker: #252a2d;
  --dark-alt: #313639;
  --dark-medium: #464f53;

  --error: #ebafa4;
  --error-light: #edccc6;
  --error-dark: #cc371b;
  --error-medium: #cc371b;

  --success: #9ce800;
  --success-light: #ddfaa5;
  --success-dark: #8dc63f;
  --success-darker: #1eab5d;

  --information: #22bfdb;
  --information-light: #a6e6f1;
  --information-dark: #0f4c56;

  --warning: #ffe39e;

  --purple: #831aed;
  --orange: #ff7a00;
  --yellow: #feba0c;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

.modal-shadow {
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
}

input[type="range"] {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #8CE563;
    cursor: pointer;
    margin-top: -9px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #8CE563;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  &::-webkit-slider-runnable-track {
    background: var(--lighter);
    height: 2px;
    border-radius: 1px;
  }

  &::-moz-range-track {
    background: var(--lighter);
    height: 2px;
    border-radius: 1px;
  }
}

.cursor-grab {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

input[type="number"] {

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    opacity: 1;
  }
}